$green_color: #8DD83D;
$white_color: #FFFFFF;
$grey_color: #435766;
$gradient: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
body{
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: normal;
}
//Buttons
.od_btn{
  background-color: $green_color;
  font-size: 16px;
  line-height: 21px;
  border: none;
  border-radius: 4px;
  transition: 0.5s;
  &:hover{
    background: $gradient;
  }
}
.od_btn_gr{
  background:$gradient;
  font-size: 16px;
  line-height: 21px;
  border: none;
  border-radius: 4px;
  transition: 0.5s;
  &:hover{
    background: $green_color;
  }
}
//Header
header{
  background-color: #373A3C;
}
.navbar-light {
  .navbar-nav {
    .active {
      > .nav-link {
        color: $white_color;
      }
    }
    .nav-link {
      color: rgba(255, 255, 255, 0.5);
      &:hover {
        color: $white_color;
      }
    }
    .dropdown-item{
      &.active{
        color: $green_color;
        background: $gradient;
      }
    }
    .dropdown-toggle {
      &:after {
        content: "\f078";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        color: $green_color;
        border: none;
        margin-left: 8px;
        vertical-align: middle;
      }
      &.accaunt:before{
        content: url("../images/user.png");
        margin-right: 5px;
        vertical-align: sub;
      }
    }
  }
}
//Slider
.carusel {
  h2{
    font-size: 36px;
    line-height: 42px;
    margin: 0;
  }
  h4{
    font-size: 24px;
    line-height: 30px;
  }
  p{
    font-size: 14px;
    line-height: 14px;
  }
  .starwars, .CoD{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    //height: 100vh;
    //padding-top: 200px;
    position: relative;
  }
  .starwars{
    background-image: url("../images/Star-Wars-Battlefront-II-combat.jpg");
    .od_btn{
      padding: 8px 19px;
    }
  }
  .CoD{
    background-image: url("../images/CoD-WWII.jpg");
    .od_btn_gr{
      padding: 8px 29px;
    }
  }
  .owl-carousel {
    .owl-dots {
      display: none;
    }
    .owl-nav {
      position: absolute;
      top: 50%;
      width: 100%;
      .owl-next, .owl-prev {
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        color: $green_color;
      }
      .owl-prev {
        &:before {
          content: "\f053";
          position: absolute;
          top: 50%;
          left: 57px;
        }
      }
      .owl-next {
        &:before {
          content: "\f054";
          position: absolute;
          top: 50%;
          right: 57px;
        }
      }
    }
  }
}
//Section card
.value{
  background: $gradient;
  h2{
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 0;
  }
  p{
    font-size: 36px;
    line-height: 42px;
  }
  .card{
    h5{
      font-size: 18px;
      line-height: 21px;
      color: $grey_color;
    }
    p{
      font-size: 19px;
      line-height: 21px;
      color: $grey_color;
    }
    .od_logo{
      height: 197px;
    }
  }
}
//Section games
.games{
  background-image: url("../images/CoD-WWII.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;
  //span{
  //  position: absolute;
  //  background-color:  rgba(23, 23, 23, 0.5);
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //}
  h3{
    font-size: 36px;
    line-height: 42px;
  }
  .od_btn_gr{
    padding: 20px 47px;
  }
  .card{
    h5{
      font-size: 18px;
      line-height: 21px;
      color: $grey_color;
    }
    p{
      font-size: 17px;
      line-height: 24px;
      color: $grey_color;
    }
    .od_logo{
      height: 182px;
    }
  }
}
//Section Xbox Design Lab
.design_lab{
  background-image: url("../images/DesignLabSection.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  h2{
    font-size: 48px;
    line-height: 56px;
  }
  p{
    font-size: 24px;
    line-height: 28px;
  }
  .od_btn_gr{
    padding: 20px 52px;
  }
  .od_btn{
    padding: 20px 23px;
  }
}
//Footer
footer{
  background-color: #373A3C;
  h3{
    color: $green_color;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
  }
  ul{
    li{
      font-size: 14px;
      a{
        text-decoration: none;
        color: $white_color;
        transition: 0.4s;
        &:hover{
          color: $green_color;
          text-decoration: none;
        }
        i{
          font-size: 20px;
          color: $green_color;
          transition: 0.4s;
          &:hover{
            color: $white_color;
          }
        }
      }
    }
  }
  a{
    color: $white_color;
    transition: 0.4s;
    &:hover{
      color: $green_color;
      text-decoration: none;
    }
  }
}
//Game html
.CoD_game{
  background-image: url("../images/CoD-WWII.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  h2{
    font-size: 36px;
  }
  p{
    font-size: 14px;
  }
}
.od_title{
  h1{
    font-size: 36px;
    color: $grey_color;
  }
}
.content{
  h3{
    font-size: 36px;
    line-height: 42px;
    color: $grey_color
  }
}
#technical_specifications{
  h3{
    font-size: 36px;
    color: $grey_color;
  }
  .od_text{
    font-size: 21px;
    line-height: 24px;
    color: $grey_color;
  }
}
.video{
  video{
    max-width: 890px;
    border-radius: 11px;
  }
}


